#entry-modal{
  border-radius: 50px;
}

#entry-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 500px;
}

section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#entry-form .ant-select{
  width: 240px;
  margin: 13px;
  font-size: 17px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
}

#entry-form .ant-select-selector{
  border-radius: 8px;
  height: 35px;
}

#entry-form input {
  width: 240px;
  margin: 13px;
  font-size: 17px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
}



#list-header {
  display: inline-block;
  justify-items: right;
  align-items: right;
  padding-left: 900px;
}

.intro {
  margin-bottom: 20px;
  margin-top: 10px;
  justify-items: center;
  text-align: center;
}

#entry-form button {
  background-color: rgb(116, 136, 202);
  border: black;
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
  margin-top: 15px;
  text-align: center;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

#entry-modal button:hover {
  cursor: pointer;
  background-color: rgb(92, 110, 168);
}

/*#music-type {
  width: 250px;
  height: 25px;
  margin: 10px;
  font-size: 15px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
}*/

.butshow button:hover {
  cursor: pointer;
  background-color: rgb(92, 110, 168);
}

.list {
  position: relative;
  top: 10px;
  margin-top: 10px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 500px;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: auto;
  height: auto;
}

.butshow button {
  background-color: rgb(116, 136, 202);
  border: black;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 17px;
  position: sticky;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  float: top;
}

#modal-button { 
  background-color: rgb(116, 136, 202);
  border: black;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin-bottom: 8px;
  position: relative; 
  margin-top: 8px;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

#modal-button:hover {
  cursor: pointer;
  background-color: rgb(92, 110, 168);
}




#description {
  font-size: 20px;
  font-weight: 400;
}

#modalsection {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(159, 165, 188);
}

.modaloverlay {
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#edit-input {
  position: relative;
  bottom: 25px;
  left: 15px;
}

#modal-button-wrapper {
  display: grid;
  align-content: center;
  justify-content: center;
}

.ant-modal-root .ant-modal-content {
  border-radius: 8px;
}